{% extends "layout.html" %}

{% block content %}
    <h1 class="mb-4 text-center">{{ post.title }}</h1>
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <!-- Subtítulo con Autor y Fecha (campos que faltaban) -->
                <h6 class="card-subtitle mb-3 text-muted">
                    Escrito por <span class="fw-bold text-primary">{{ post.author }}</span> 
                    <small class="text-secondary">- {{ post.date_posted }}</small>
                </h6>
                
                <!-- Contenido del post -->
                <p class="card-text text-secondary">{{ post.content }}</p>
            </div>
        </div>
{% endblock content %}